:root{
  --mainBlue: #2a2a77;
  --lightBlue: #009ffd;
  --mainWhite: #f3f3f3;
  --mainDark : #232528;
  --mainYellow: #ffa400;
}


body{
  font-family: 'Yanone Kaffeesatz', sans-serif !important;
  background: var(--mainWhite) !important;
  color: var(--mainDark);
  font-size: 22px !important;

}
